// -----------------------------------------------------------------------------
// This file contains all styles related to the About Me section of the site.
// -----------------------------------------------------------------------------
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../base/colors' as *;


.main__about {
    overflow: hidden;
    // outline: 1px solid red;

    .row:nth-child(2) {
        flex-direction: column;

        @include mq(medium) {
            flex-direction: row;
            gap: 0;
            // outline: 1px solid yellow;

            & > :first-child {
                flex-basis: 57%;
            }
        }

        @include mq(large) {
            gap: 1rem;

            & > :first-child {
                flex-basis: 60%;
            }
        }
    }

    &-para {
        margin-top: 1rem;
        max-width: 90%;
    }

    // utility needed for image wrapper
    .col {
        position: relative;
        @include size(fit-content);
        @include size(-moz-fit-content);
        margin: 2rem auto 0;
        // outline: 2px solid purple;
        border-radius: 50%;

        @include mq(xsmall) {
            margin-top: 4rem;
        }

        @include mq(medium) {
            margin-top: 1rem;

            b {
                position: absolute;
                border-radius: 50%;
                background-color: transparent;
                border: 2px solid transparent;
            }
            
            b:nth-child(1) {
                @include size(105%);
                top: -2.5%;
                left: -2.5%;
            }
            b:nth-child(2) {
                @include size(110%);
                top: -5%;
                left: -5%;
            }
            b:nth-child(3) {
                @include size(115%);
                top: -7.5%;
                left: -7.5%;
            }
        }

        

        &:hover {
            .main__about-img-wrapper {
                border-color: transparent;
            }
            b {
                transition: border-color .4s .3s ease-out;
            }
            b:nth-child(1) {
                border-color: $clr-accent transparent transparent transparent;
                animation: anim 5s .5s linear infinite forwards;
            }
            b:nth-child(2) {
                border-color: transparent transparent transparent $clr-light;                
                animation: anim 7s .5s linear infinite;
            }
            b:nth-child(3) {
                border-color: transparent $clr-accent-desat transparent transparent;                
                animation: anim 10s .5s  linear infinite;
            }
        }
    }

    &-img-wrapper {
        position: relative;
        @include size(rem(260));
        overflow: hidden;
        border: 4px solid transparent;
        border-color: transparent $clr-light transparent $clr-accent;
        border-radius: 50%;
        transition: border-color .3s;
        // outline: 1px solid red;
        
        @include mq(medium) {
            @include size(rem(300));
        }

        img {
            @include size(100%);
            object-fit: cover;
        }
    }

    //? I don't need this asset so why is it here? and what piece of code does it affect?
    &-stack-list {
        @include width-min(100%, rem(300));
        margin-top: 1.2rem;
        columns: 2;
        column-gap: 2rem;
        padding-left: 1.1rem;
        list-style-image: url("../../assets/icons/flash-outline.svg"); // If anything asset path problems comes up later, its from here
        // outline: 1px solid red;
        
        &-item{
            font-size: 1rem;
        }
    
    }

}

@keyframes anim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
