// -----------------------------------------------------------------------------
// This file contains all styles related to the hero section of the site.
// -----------------------------------------------------------------------------
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;
@use '../base/colors' as *;

.hero {

    &__intro-text {
        margin-top: 3rem;
        font-weight: 400;
        font-size: rem(20);
        color: $clr-accent;
    }

    &__author-name {
        margin-top: 1rem;
        color: $clr-accent-desat;
    }
    
    &__author-work {
        margin-top: 1rem;
        max-width: 85%;
        color: mix(white, $clr-dark, 80%);
    }

    &__author-name,
    &__author-work {
        font-size: clamp(rem(40), 8vw, rem(80));
    }

    &__short-desc {
        margin-top: 2rem;
        max-width: 85%;

        @include mq(xsmall) {
            max-width: 55ch;
        }

        @include mq(medium) {
            margin-top: 2.5rem;
        }
    }

    &__cta {
        margin-top: 3rem;
    }

    &__intro-text,
    &__author-name,
    &__author-work,
    &__short-desc,
    &__cta {
        opacity: 0;
    }
}