// -----------------------------------------------------------------------------
// This file contains all styles related to the Tech Stack section of the site.
// -----------------------------------------------------------------------------
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../base/colors" as *;

.main__tech {
  margin-top: 15rem;

  @include mq(medium) {
    margin-top: 18rem;
  }

  .main__heading-wrapper {
    justify-content: center;
    gap: 1rem;
    align-items: center;

    @include mq(medium) {
      gap: 2rem;
    }

    .wrapper {
      gap: 0.7rem;
      // outline: 1px solid blue;
    }

    span:not(.main__numbered-heading) {
      height: 1px;
      flex-basis: 12%;
      background: rgba($clr-light, 0.2);

      @include mq(small) {
        flex-basis: 15%;
      }
    }
  }

  &-list {
    flex-flow: row wrap;
    justify-content: center;
    width: min(100%, rem(652));
    margin: 2rem auto 0;
    // outline: 1px solid;

    @include mq(large) {
      min-width: 100%;
    }

    &-item {
      position: relative;
      padding: 1.5rem 2rem 1rem;
      // outline: 1px solid red;

      &:hover {
        .icon {
          transform: scale(
            1.05
          ) !important; // slapping !important here because js animation overrides this style
        }
      }

      @include mq(large) {
        padding-inline: 4rem;
      }

      .icon {
        width: 4.5rem;
        height: 4.5rem;
        opacity: 0;
        transition: transform 0.3s ease;
      }

      p {
        margin-top: 0.5rem;
        font-size: rem(14);
        text-align: center;
      }

      &:nth-child(6) {
        p {
          margin-top: -1rem;
        }
        p:last-child {
          margin-top: -0.2rem;
        }
      }

      [class*="i-"] {
        position: absolute;
        background-color: rgba($clr-light, 0.1);
        transition: background-color 0.5s ease;
        border-radius: 10px;
      }

      .i-left,
      .i-right {
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 70%;
      }

      .i-top,
      .i-bottom {
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 70%;
      }

      .i-left {
        left: 0;
        display: none;
      }

      .i-top {
        top: 0;
        display: none;
      }

      .i-right {
        right: 0;
      }

      .i-bottom {
        bottom: 0;

        // @include mq(small) {
        // background: rgba($clr-accent, 0.5);
        // }
      }

      &:nth-child(even) {
        .i-right {
          display: none;
        }
      }

      &:nth-child(4n) {
        .i-right {
          display: none;
        }
      }

      &:nth-child(11) {
        .i-bottom {
          display: none;
        }
      }

      &:last-child {
        .i-bottom {
          display: none;
        }
      }

      // For new width: 480px - Columns break into 3 three here
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(10),
      &:nth-child(11) {
        @media screen and (min-width: 30em) {
          .i-right {
            display: block;
          }
        }
      }

      &:nth-child(3n) {
        @media screen and (min-width: 30em) {
          .i-right {
            display: none;
          }
        }
      }

      &:nth-child(10) {
        @media screen and (min-width: 30em) {
          .i-bottom {
            display: none;
          }
        }
      }

      // End of 480px ----------------------------------------------

      // For 680px - Columns break into 4 here
      &:nth-child(n) {
        @media screen and (min-width: 42.5em) {
          .i-right {
            display: block;
          }
        }
      }

      &:nth-child(4n) {
        @media screen and (min-width: 42.5em) {
          .i-right {
            display: none;
          }
        }
      }

      &:nth-child(9) {
        @media screen and (min-width: 42.5em) {
          .i-bottom {
            display: none;
          }
        }
      }
    }
  }
}
