$clr-light: hsl(217, 11%, 85%);
$clr-md: hsl(220, 2%, 20%);
$clr-md-dark: hsl(220, 5%, 20%);
$clr-dark: hsl(217, 11%, 15%);
$clr-dark-alt: hsl(217, 4%, 21%);

$clr-accent: hsl(43, 99%, 70%);
$clr-accent-desat: mix(white, $clr-accent, 50%);
// $clr-accent-alt: #ffcd28;

// programming icon colors
$clr-html: #e34f26;
$clr-python: #3776ab;
$clr-css: #1572b6;
$clr-bootstrap: #563d7c;
$clr-sass: #c69;
$clr-styled-components: #db7093;
$clr-javascript: #f7df1e;
$clr-react: #61dafb;
$clr-node: #393;
$clr-mongodb: #47a248;
$clr-mysql: #4479a1;
$clr-vscode: #007acc;