// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use "./colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $clr-dark;
  max-width: 100%;
  min-height: 100%;
  font-size: rem(18);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
iframe {
  display: block;
  max-width: 100%;  
}

button,
input {
  background: none;
  border: none;
  // outline: none;
  font-family: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

// Remove all animations and transitions for users
// who have it turned off in system settings
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
