// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/colors' as *;

.container-outer,  
.container-inner {
    width: 90%;
    margin: 0 auto;
}

.container-outer {
    @include mq(medium) {
        width: 100%; // basically remove its effect at this breakpoint
    }
}

.container-inner {
    @include mq(xsmall) {
        width: 85%;
    }

    @include mq(medium) {
        --max-width-2: 50.75rem; // 812px for inner utility container for medium screens;
        max-width: var(--max-width-2);
    }
    @include mq(large) {
        // --max-width-2: 56.25rem; // 900px for inner utility container for larger screens;
        --max-width-2: 59.375rem; // 950px...;
        max-width: var(--max-width-2);
        // outline: 1px solid red;
    }
}

.row {
    display: flex;
}

// To make links stand out
.highlight-link {
    color: $clr-accent;
    position: relative;

    &::before {
        @include pseudo;
        top: 100%;
        width: 100%;
        height: 1px;
        background: $clr-accent;
        transform: scaleX(0);
        transition: transform .4s;
    }
    
    &:hover::before {
        transform: scaleX(1);
    }
}