// -----------------------------------------------------------------------------
// This file contains all application-wide  variables.
// -----------------------------------------------------------------------------
@use './functions' as *;

// CSS Variables (to be modified later)
:root {
  --max-width: 71.25rem; // 1140px for outer utility container
  --max-width-2:  50.75rem; // 812px - initial size for inner utility container for small screens
}

// Sass Variables (no modification allowed)
$border-radius: rem(5);
$navbar-padding: rem(40);
$footer-social-vline-height: rem(100);
$text-reveal-ease: cubic-bezier(0.77, 0, 0.175, 1);

// transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s - for work tab animated line

// Breakpoints map - Since I'm using mobile-first workflow, no need for small screen size
$breakpoints-up: (
  "xsmall": 35.5em, // 568px - small phones in landscape
  "small": 48em, // 768px
  "medium": 62em, // 992px
  "large": 75em, // 1200px
  "xlarge": 90em, // 1440px
);